<h4>Add New Student</h4>
<div class="add">
  <label> First Name:
    <input #Fname />
  </label><br/>
  <label> Last Name:
      <input #Lname />
  </label><br/>
  <button (click)="add(Fname.value, Lname.value); Fname.value=''; Lname.value='' ">
    Add
  </button>
</div>
<h4>Student List</h4>
<ul class="students">
    <li *ngFor="let student of students">
        <a routerLink="/detail/{{student.id}}">
            <span class="badge">{{student.id}}</span> {{student.fname}} {{student.lname}}
        </a>
        <button class="delete" title="delete student" (click)="delete(student)">x</button>
    </li>
</ul>